@tailwind base;
@tailwind components;
@tailwind utilities;

.background{
    background-image: url('/public/assets/images/index-topbg.jpg');
    background-repeat: no-repeat;
    height: 80vh;
    background-size: cover;
}
.background-full{
    background-image: url('/public/assets/images/index-topbg.jpg');
    background-repeat: no-repeat;
 
    background-size: cover;
}

@layer components{
    .formsearch{
        @apply flex space-x-2 justify-center items-center md:text-base 
    }
    form>.search{
        @apply flex flex-col bg-white lg:w-72 md:w-48 md:px-4 px-1 py-2 rounded-md justify-center w-24 md:text-base text-sm
    }
    .search>input{
        @apply bg-transparent
    }
    .search>select{
        @apply   
        w-full
       outline-none
        text-gray-700
        bg-white 
        rounded
        transition
        ease-in-out
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
    }
    .search{
        @apply text-gray-500
    }
    .buton{
        @apply border-solid border-2 border-transparent rounded-md md:px-8  px-4 py-2 bg-pink-600 text-white hover:bg-pink-500 duration-500 font-bold h-full
    }
    .submit{
        @apply border-solid border-2 border-transparent rounded-b-md px-8 py-3 bg-pink-600 text-white hover:bg-pink-500 duration-500 font-bold w-full  px-0
    }
    .form>input{
        @apply border-2 border-gray-200 px-3 py-4 focus:outline-gray-200 px-5
    }
    .btn-log{
        @apply text-xl text-sky-500 selection:text-sky-600  focus:underline
    }
    .dashboard>li{
        @apply flex items-center p-2 text-base font-normal text-gray-700 rounded-lg dark:text-white hover:bg-gray-100 hover:bg-gray-200
    }
    
    .car-det>h1{
        @apply font-medium text-lg
    }

    .car-det{
        @apply flex md:flex-col flex-row justify-between mr-[50px]
    }
   .div > input{
        @apply appearance-none block w-full  text-gray-700 border border-gray-200 rounded md:py-1 px-2 xl:py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-blue-500
        
    }
  
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  div.cont {
    max-width: 1350px;
    margin: 0 auto;
    overflow: hidden
  }
  .upcomming {
    font-size: 45px;
    text-transform: uppercase;
    border-left: 14px solid rgba(255, 235, 59, 0.78);
    padding-left: 12px;
    margin: 18px 8px;
  }
  .cont .item {
    width: 48%;
    float: left;
    padding: 0 20px;
    background: #fff;
    overflow: hidden;
    margin: 10px
  }
  .cont .item-right, .cont .item-left {
    float: left;
    padding: 20px 
  }
  .cont .item-right {
    padding: 79px 50px;
    margin-right: 20px;
    width: 25%;
    position: relative;
    height: 286px
  }
  .cont .item-right .up-border, .cont .item-right .down-border {
      padding: 14px 15px;
      background-color: #ddd;
      border-radius: 50%;
      position: absolute
  }
  .cont .item-right .up-border {
    top: -8px;
    right: -35px;
  }
  .cont .item-right .down-border {
    bottom: -13px;
    right: -35px;
  }
  .cont .item-right .num {
    font-size: 60px;
    text-align: center;
    color: #111
  }
  .cont .item-right .day, .cont .item-left .event {
    color: #555;
    font-size: 20px;
    margin-bottom: 9px;
  }
  .cont .item-right .day {
    text-align: center;
    font-size: 25px;
  }
  .cont .item-left {
    width: 71%;
    padding: 34px 0px 19px 46px;
    border-left: 3px dotted #999;
  } 
  .cont .item-left .title {
    color: #111;
    font-size: 34px;
    margin-bottom: 12px
  }
  .cont .item-left .sce {
    margin-top: 5px;
    display: block
  }
  .cont .item-left .sce .icon, .cont .item-left .sce p,
  .cont .item-left .loc .icon, .cont .item-left .loc p{
      float: left;
      word-spacing: 5px;
      letter-spacing: 1px;
      color: #888;
      margin-bottom: 10px;
  }
  .cont .item-left .sce .icon, .cont .item-left .loc .icon {
    margin-right: 10px;
    font-size: 20px;
    color: #666
  }
  .cont .item-left .loc {display: block}
  .fix {clear: both}
  .cont .item .tickets, .booked, .cancel{
      color: #fff;
      padding: 6px 14px;
      float: right;
      margin-top: 10px;
      font-size: 18px;
      border: none;
      cursor: pointer
  }
  .cont .item .tickets {background: #777}
  .cont .item .booked {background: #3D71E9}
  .cont .item .cancel {background: #DF5454}
  .linethrough {text-decoration: line-through}
  @media only screen and (max-width: 1150px) {
    .cont .item {
      width: 100%;
      margin-right: 20px
    }
    div.cont {
      margin: 0 20px auto
    }
  }